
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap 
@import '~bootstrap/scss/bootstrap';


// General
*{
  background-color: black;
  /** width: 100%; **/
}


body {
  
  position: fixed;

  height: 100%;
  width: 100%;
  margin: 0 auto;

  }


  /*  #header {
box-sizing: border-box;
background: #E5E5E5;
background-color: rgba(0,0,0,1);
opacity: 1;
} */

// Header
.carre{
  padding-left: 0%;
  padding-right: 0%;
  //width: 100%;
  height: 20%;
  background: #3D3D3D;
  margin: 0px auto;

}
  
// Logo BDE gauche header
.top img#i1{
position: absolute;
overflow: visible;
  width: 160px;
  height: 166px;
left: 73px;
top: 0px;
}


// Texte BDE CESI header 
 
.top h1{
  width: 292px;
  height: 62px;
  background-color: #3D3D3D;
  color: #ffffff;
  margin: auto;
  text-align: center;
  font-family: Calibri;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  top: 50px;
} 

// Logo CESI droite header
.top img#i2{
position: absolute;
overflow: visible;
width: 160px;
height: 166px;
right: 73px;
top: 0px;
}

// MENU 
.menu {
  width: 100%;
  position: fixed;
}


.menu nav ul{

  border: 2px solid grey;
  
} 

nav li{
  display: inline-block;
  width: 160px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border-right: 0px solid #CCCCCC;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

nav li :hover{
  background-color: #6E6E6E;
}

nav li a{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}















.titre_event h3{
  opacity: 1;
  position: relative;
  left: 800px;
  top: 85px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 337px;
  white-space: nowrap;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
}


.calendar h4{
  opacity: 1;
  position: absolute;
left: 162px;
top: 350px;
box-sizing: border-box;
margin: 0;
padding: 0;
overflow: visible;
width: 145px;
  height: 40px;
white-space: nowrap;
text-align: center;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 30px;
color: rgba(255,255,255,1);
}

.calendar img{
  position: relative;
  left: 102px;
  top: 180px;
}

.inc_event h4{
  opacity: 1;
  position: absolute;
  left: 830px;
  top: 350px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  width: 270px;
  white-space: nowrap;
  text-align: center;
  font-family: segoe UI;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: white; 
}

.inc_event h5{
  opacity: 1;
  position: relative;
  left: 790px;
  top: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  width: 337px;
  white-space: nowrap;
  text-align: center;
  font-family: segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: white;  
}

.passed_event h4{
  opacity: 1;
  position: relative;
  left: 830px;
  top: 100px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  width: 270px;
  white-space: nowrap;
  text-align: center;
  font-family: segoe UI;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: white;    
}

.passed_event h5{
  opacity: 1;
  position: relative;
  left: 790px;
  top: 115px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: visible;
  width: 337px;
  white-space: nowrap;
  text-align: center;
  font-family: segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.title_form h4 {
  opacity: 1;
  position: absolute;
  left: 1400px;
  top: 350px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
  overflow: visible;
  width: 358px;
  height: 66px;
  white-space: nowrap;
text-align: center;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 30px;
color: white;  
}

.nom input{
  opacity: 1;
  position: absolute;
  left: 1400px;
  top: 400px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
  overflow: visible;
  width: 358px;
  height: 52px;
  white-space: nowrap;
text-align: left;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: white;
}

.date_1 input{
  opacity: 1;
  position: absolute;
  left: 1400px;
  top: 450px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
  overflow: visible;
  width: 358px;
  height: 52px;
  white-space: nowrap;
text-align: left;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: white;
}

.date_2 input{
  opacity: 1;
  position: absolute;
  left: 1400px;
  top: 500px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
  overflow: visible;
  width: 358px;
  height: 52px;
  white-space: nowrap;
text-align: left;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: white;
}

.lieu input{
  opacity: 1;
  position: absolute;
  left: 1400px;
  top: 550px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
  overflow: visible;
  width: 358px;
  height: 52px;
  white-space: nowrap;
text-align: left;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: white;
}

.bouton {
  opacity: 1;
  position: absolute;
  left: 1400px;
  top: 600px;
  box-sizing: border-box;
  margin: 0;
padding: 0;
  overflow: visible;
  width: 358px;
  height: 52px;
  white-space: nowrap;
text-align: center;
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: white;
}

#myFooter {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

#myFooter .row {
  margin-bottom: 0px;
}

.row img#i3{
  position: absolute;
  left: 180px;
  top: 50px;
}

#myFooter .info{
  text-align: justify; 
  color: #afb0b1;
}

#myFooter ul {
  position: absolute;
  top: 50px; 
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter .titre{    /** alignement du texte **/
  margin-top: 10px;
  vertical-align: text-top;
  text-align: center;
}

#myFooter .img{
  position: absolute;
  left: 55px;
}
#myFooter .button{
  
}

/** .gallery {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 180px;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

**/
